@media (min-width: 576px) {
  .nav {
    position: relative;
    color: #00000066;
    padding: 0px 0px 4px 0px;
  }
  .active {
    position: relative;
    padding: 0px 0px 4px 0px;
    color: black;
  }
  .active::after {
    content: "";
    border-bottom: 2px solid black;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
  }

  .nav::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 0%;
    border-bottom: 2px solid black;
    transition: 0.2s ease-in-out;
  }

  .nav:hover::after {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .nav {
    background-color: #0000000a;
    color: black;
    border-radius: 12px;
    padding: 8px 16px;
  }
  .active {
    background-color: #1d3639;
    color: white;
    border-radius: 12px;
    padding: 8px 16px;
  }
}
